<div class="bg" style="background-color: #f8f8f8;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="margin-left: 80px;">Signup</h1>
          </div>
        </div>
        <form nz-form [formGroup]="signUpForm" (ngSubmit)="register()">

          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail">
              <input nz-input placeholder="E-mail" id="email" formControlName="email">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
              <input nz-input type="password" placeholder="Password" id="password" formControlName="password">
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Password is required!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Password should contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
              <input nz-input type="password" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword">
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Confirm Password is required!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Passwords do not match!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input placeholder="Username" id="username" formControlName="name">
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Username is required!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="signUpForm.invalid">Register</button>
          Or <a routerLink="/login" style="font-weight: bolder;">login now!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
