.custom-navbar
{
background-color: #003973;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

.navbar-title{
  >a{
    color:white !important;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
  }
}

.hover-effect:hover {
  color: #3498db;
  font-size: 22px;
}


.nav-links{
  display: flex;
  align-items: center;
  border:none;
  border-radius: 10px;
  font-weight: bolder;



  >a{
    margin-right: 15px;
    color:white;
    background-color: transparent;
    font-weight: bolder;
    border:none;




  }


}
